# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env

# postgresql://postgres:password@localhost:5433/coscision

DATABASE_URL="postgres://postgres:password@localhost:5433/coscision"
DATABASE_PRISMA_URL="postgres://postgres:password@localhost:5433/coscision?pgbouncer=true&connect_timeout=15"
DATABASE_URL_NO_SSL="postgres://postgres:password@localhost:5433/coscision"
DATABASE_URL_NON_POOLING="postgres://postgres:password@localhost:5433/coscision"
DATABASE_USER="postgres"
DATABASE_HOST="localhost"
DATABASE_PASSWORD="password"
DATABASE_DATABASE="coscision"

BLOB_READ_WRITE_TOKEN="x"

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET="1u4zQ4ZjPTl4wINLq7oggd4tI6W1gAgYpk3OYsMV0R4="
NEXTAUTH_URL="http://localhost:3000"

NEXT_PUBLIC_UPLOAD_BASE="http://localhost:3000/upload/" # do not forget last "/"
UPLOAD_STORAGE="local-dev" # vercel-storage, local-dev, local-prod