*{
  margin: 0;
  padding: 0;
  font-family: 'Outfit Variable', sans-serif;
}

body{
  background: #F0CFCF;
}

.nav-link{
  color: #624141;
  position: relative;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

.nav-link::after{
  content: '';
  border: 1.3px solid #624141;
  display: flex;
  position: absolute;
  left: 50%;
  width: 0;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.nav-link:hover::after{
  width: 100%;
  opacity: 1;
  left: 0;
}

.nav-link:hover{
  color: black
}

.active{
  color: black;
  text-decoration: none;
}

.active::after{
  content: '';
  border: 1.3px solid #624141;
  display: flex;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track { 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(164, 164, 164); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #848484; 
}

.MuiList-root{
  width: 400 !important;
}